#menuAppbar ul {
  background-image: url("../assests/setting-menu.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.notifiImages {
  display: flex;
}

.notifiImages img {
  margin: 0px 10px;
  cursor: pointer;
}
.notifiImages div:first-child img {
  margin-left: 20px !important;
  margin-right: 5px;
}
